@media (max-width: 800px) {
  .hidden {
    display: none;
  }
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .lock {
    overflow: hidden;
  }
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__links {
    position: absolute;
    top: 0;
    left: -120%;
    height: 100vh;
    width: 100%;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
    margin: auto;
    padding: 30px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    overflow: auto;
  }
  .active {
    left: 0;
  }
  .menu__icon {
    display: block;
    width: 30px;
    height: 18px;
    position: relative;
    z-index: 5;
    cursor: pointer;
  }
  .menu__icon span {
    position: absolute;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    top: calc(50% - 1px);
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgb(224, 38, 1);
  }
  .menu__icon span:first-child {
    top: 0;
  }
  .menu__icon span:last-child {
    top: auto;
    bottom: 0;
  }
  .active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .active span:first-child {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .active span:last-child {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
  .header__link {
    line-height: 70px;
    font-size: 26px;
  }
  .container {
    background-image: url(./src/img/bgMobile.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    height: 597px;
    padding-top: 20px;
  }
  .main__cont {
    width: 330px;
  }
  .main__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 46px;
    text-align: center;
    text-transform: uppercase;
    color: darkcyan;
  }
  .main__text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    width: auto;
  }
  .header {
    height: 50px;
  }
  .telegram__button {
    width: 35px;
    height: 35px;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
  .telegram__button:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .telegram {
    width: 35px;
    height: 35px;
  }
  .media__buttons {
    display: none;
  }
  .whatsapp__button {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .whatsapp__button:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .whatsapp {
    width: 35px;
    height: 35px;
  }
  .logo {
    width: 140px;
    height: 70px;
  }
  .logo__img {
    width: 140px;
    height: 70px;
  }
  .wrapper {
    height: auto;
  }
  .swiper-button-prev {
    border: rgb(224, 38, 1) 2px solid;
    padding: 5px;
    width: 20px;
    height: 20px;
    border-radius: 3px;
  }
  .swiper-button-next {
    border: rgb(224, 38, 1) 2px solid;
    padding: 5px;
    width: 20px;
    height: 20px;
    border-radius: 5px;
  }
  .heroes__box {
    padding-top: 10px;
  }
  .heroes__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 34px;
  }
  .hero {
    min-width: 300px;
    margin-top: 10px;
  }
  .hero__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }
  .hero__search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px;
    margin-top: 10px;
  }
  .heroes__fromUser {
    width: 80%;
    font-size: 14px;
    margin-right: 0px;
    height: 35px;
  }
  .heroes__find {
    width: 80%;
    font-size: 16px;
    justify-self: flex-start;
    height: 35px;
  }
  .find__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
  }
  .find__text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    width: auto;
  }
  .help {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .help__description {
    width: auto;
  }
  .help__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 34px;
  }
  .help__text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }
  .contact__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contacts {
    margin-top: 15px;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-left: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .help__button_cont {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .help__photo {
    margin-right: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .feedbacks__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
  }
  .programs__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
  }
  .program__cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .program__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .program__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
  }
  .program__description {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    text-align: center;
  }
  .program__duration {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .note {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }
  .program__item {
    margin-left: 0px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }
  .program__item::before {
    display: none;
  }
  .program__pic {
    height: 350px;
    width: 350px;
    margin-bottom: 30px;
  }
  .program__text {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .program__pic {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .gallery__track {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .gallery_1,
.gallery__2 {
    margin-right: 0px;
  }
  .gallery-forward {
    border: rgb(224, 38, 1) 2px solid;
    padding: 5px;
    width: 20px;
    height: 20px;
    border-radius: 3px;
  }
  .gallery-back {
    border: rgb(224, 38, 1) 2px solid;
    padding: 5px;
    width: 20px;
    height: 20px;
    border-radius: 5px;
  }
  .masters {
    padding-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .masters__item {
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-right: 0px;
  }
  .footer__logo {
    display: none;
  }
  .footer-menu {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
  }
  .footer-menu__link {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }
  .footer__block {
    margin-left: 0px;
  }
  .footer__blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .masters__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
  }
  .gallery__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
  }
  .masters__text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }
  .feedbacks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .feedback {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-right: 20px;
    margin-top: 30px;
  }
}